doctype html
html
  head
    title Prototype 2

    style.

      body {
        font-family: sans-serif;
        font-weight: 100;
        text-align: center;
      }

  body
    h1 Message Bus Prototype
    h2 Weather
    p #{weather}
    
- if (typeof(test) !== 'undefined'){
      h3 Test Result
      p  #{testresult} 
- }